# Ignore all files in the runs_clickprompts directory
trainer/runs_clickprompts/

# Training data (CADs + nnU-Net output)
trainingsdata/cads/
trainingsdata/nnUNet_raw/

inference/image/
inference/model/
trainingsdata/